body{
    font-family: 'Gantari', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
}
p{
    font-family: 'Gantari', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Montserrat', sans-serif;
}