#outerShell {
    display: none;
}
@media screen and (min-width: 1200px) {

    #mobile-tablet-view {
        display: none;
    }    
    #outerShell {
        display: block;
        max-width: 1200px;
        border: solid 1px #666;
    }
    
    #imageCon {
        position: relative;
        max-width: 1200px;
        height: 100vh;
    }
    
    .slideImage {
        position: absolute;
        left: 0;
        right: 0;
        height: 100vh;
    }
    
    .image-right {
        background: url(../images/x-ray.png) no-repeat;
        background-size: cover;
  
    }
    
    .image-left {
        background: url(../images/earbud-XRay_color.jpg) no-repeat;
        background-size: cover;
      
        width: 50%;
     
    }
    
    .image-drag {
        background-color: #666;
        left: 50%;
        width: 5px;
        cursor: pointer;
    }
}















#outerShell {
    max-width: 1200px;
    border: solid 1px rgb(102, 102, 102);
}

#imageCon {
    position: relative;
    max-width: 1200px;
    height: 100vh;
}

.slideImage {
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
}

.image-right {
    background: url(../images/x-ray.png) no-repeat;
    background-size: cover;
  
}

.image-left {
    background: url(../images/earbud-XRay_color.jpg) no-repeat;
    background-size: cover;
   
    width: 50%;
    
}

.image-drag {
    background-color: #ca1212;
    left: 50%;
    width: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}